openapi: 3.0.0
info:
  title: TagoIO API
  version: 1.0.0
  description: >-
    # TagoIO API Documentation


    Contact Support:


    - Github: [tago-io](https://github.com/tago-io)
        
    - Community: [TagoIO Community](https://community.tago.io/)
        

    #### **How to use this documentation**


    The documention is split by which token you're required to use in the
    request.  

    TagoIO provides 4 different tokens:


    - **Device-Token**: The token from your device, which you can get from the
    device's page.
        
    - **Profile-Token**: Also know as Account-Token. You get from your profile
    settings page.
        
    - **Network-Token**: Is the token from your Network. Only available if
    you're owner of the network in your integrations page.
        
    - **Analysis-Token:** The token from your analysis, available in the
    analysis page.
        

    ---


    ## Setting the API Endpoint Region


    When making a request to the TagoIO API, you must also specify the
    appropriate regional endpoint. Choose one of the following endpoints based
    on your geographical region:


    - **United States East 1:**  
        Use this endpoint when your application is based in the eastern United States.  
        **URL:** `https://api.us-e1.tago.io/`
        
    - **Europe West 1:**  
        Use this endpoint when your application is based in Western Europe.  
        **URL:** `https://api.eu-w1.tago.io/`
servers:
  - url: 'https://api.us-e1.tago.io'
  - url: 'https://api.eu-w1.tago.io'
paths:
  /info:
    parameters: []
    get:
      summary: Current Device Information
      tags: &ref_0
        - Devices (With Device-Token)
      parameters:
        - name: device-token
          in: header
          required: true
          description: Token provided on the Device's page (Required)
          example: Your device-token
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Get current device information
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      active:
                        type: boolean
                      bucket:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                      connector:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      id:
                        type: string
                      last_input:
                        type: string
                        format: date-time
                      name:
                        type: string
                      network:
                        type: string
                      payload_decoder:
                        type: string
                      profile:
                        type: string
                      tags:
                        type: array
                        items: {}
                      updated_at:
                        type: string
                        format: date-time
                      visible:
                        type: boolean
                      type:
                        type: string
              example:
                status: true
                result:
                  active: true
                  bucket:
                    id: 6298fcc3e0b6840012b6abfa
                    name: TagoIO Device
                  connector: 62333bd36977fc001a2990c8
                  created_at: '2022-06-02T18:09:07.135Z'
                  id: 6298fcc3e0b6840012b6abfa
                  last_input: '2022-06-02T19:40:54.517Z'
                  name: TagoIO Device
                  network: 62336c32ab6e0d0012e06c04
                  payload_decoder: >-
                    LyogVGhpcyBpcyBhIGRlZmF1bHQgZXhhbXBsZSBmb3IgcGF5bG9hZCBwYXJzZXIuCioqIFRoZSBpZ25vcmVfdmFycyB2YXJpYWJsZSBpbiB0aGlzIGNvZGUgc2hvdWxkIGJlIHVzZWQgdG8gaWdub3JlIHZhcmlhYmxlcwoqKiBmcm9tIHRoZSBkZXZpY2UgdGhhdCB5b3UgZG9uJ3Qgd2FudC4KKioKKiogVGVzdGluZzoKKiogWW91IGNhbiBkbyBtYW51YWwgdGVzdHMgdG8gdGhpcyBwYXJzZSBieSB1c2luZyB0aGUgRGV2aWNlIEVtdWxhdG9yLiBDb3B5IGFuZCBQYXN0ZSB0aGUgZm9sbG93aW5nIGNvZGU6CioqIFt7ICJ2YXJpYWJsZSI6ICJwYXlsb2FkIiwgInZhbHVlIjogIjAxMDk2MTEzOTUiIH1dCioqCiovCi8vIEFkZCBpZ25vcmFibGUgdmFyaWFibGVzIGluIHRoaXMgYXJyYXkuCmNvbnN0IGlnbm9yZV92YXJzID0gWydyZl9jaGFpbicsICdjaGFubmVsJywgJ21vZHVsYXRpb24nLCAnYXBwX2lkJywgJ2Rldl9pZCcsICd0aW1lJywgJ2d0d190cnVzdGVkJywgJ3BvcnQnXTsKCi8vIFJlbW92ZSB1bndhbnRlZCB2YXJpYWJsZXMuCnBheWxvYWQgPSBwYXlsb2FkLmZpbHRlcih4ID0+ICFpZ25vcmVfdmFycy5pbmNsdWRlcyh4LnZhcmlhYmxlKSk7CgovLyBZb3UgY2FuIGVkaXQgYW55IHZhcmlhYmxlIHRoYXQncyBiZWluZyBhZGRlZCB0byB5b3VyIGRldmljZS4KLy8gRm9yIGV4YW1wbGUsIGlmIHlvdSBuZWVkIHRvIGNvbnZlcnQgYSB2YXJpYWJsZSBmcm9tIEZhaHJlaW50aCB0byBDZWxzaXVzLCB1bmNvbW1lbnQgdGhlIGZvbGxvd2luZyBjb2RlOgovLyBjb25zdCB0ZW1wZXJhdHVyZSA9IHBheWxvYWQuZmluZCh4ID0+IHgudmFyaWFibGUgPT09ICJ0ZW1wZXJhdHVyZSIpOwovLyBpZiAodGVtcGVyYXR1cmUpIHsKLy8gICB0ZW1wZXJhdHVyZS52YWx1ZSA9ICg1IC8gOSkgKiAodGVtcGVyYXR1cmUudmFsdWUgLSAzMik7Ci8vICAgdGVtcGVyYXR1cmUudW5pdCA9ICJDIjsKLy8gfQ==
                  profile: 5e1e192a06fbee00265ccfb0
                  tags: []
                  updated_at: '2022-06-10T20:22:59.405Z'
                  visible: true
                  type: mutable
  /data:
    parameters: []
    get:
      summary: Get data
      tags: *ref_0
      parameters:
        - name: query
          in: query
          required: false
          description: >-
            Valid queries: count, min, max, avg, sum, last_item, last_location,
            aggregate, conditional (Optional)
          example: last_item
          schema:
            type: string
        - name: qty
          in: query
          required: false
          description: Total quantity of data to be retrieved (Optional)
          example: '20'
          schema:
            type: integer
        - name: details
          in: query
          required: false
          description: >-
            Get additional fields for the data, such as created_at date
            (Optional)
          example: 'true'
          schema:
            type: boolean
        - name: ordination
          in: query
          required: false
          description: ascending/descending (Optional)
          example: descending
          schema:
            type: string
        - name: skip
          in: query
          required: false
          description: Skip the amount of data specified (Optional)
          example: '15'
          schema:
            type: integer
        - name: variables
          in: query
          required: false
          description: Filter data by variable (Optional)
          example: temperature
          schema:
            type: string
        - name: values
          in: query
          required: false
          description: Filter data by its value (Optional)
          example: '25'
          schema:
            type: integer
        - name: groups
          in: query
          required: false
          description: Filter data grouped by an specific group (Optional)
          example: '0923092039'
          schema:
            type: integer
        - name: start_date
          in: query
          required: false
          description: >-
            Filter date by a specific timestamp. Also accepts a relative date.
            (Optional)
          example: '2022-09-09T10:28:44Z'
          schema:
            type: integer
        - name: end_date
          in: query
          required: false
          description: >-
            Filter date by a specific timestamp. Also accepts a relative date.
            (Optional)
          example: '2022-09-10T10:28:44Z'
          schema:
            type: integer
        - name: function
          in: query
          required: false
          description: >
            when using query=aggregate the allowed functions are: "avg" | "sum"
            | "min" | "max"

            when using query=conditional  the allowed functions are: "gt" |
            "gte" | "lt" | "lte" | "eq" | "ne" (where gt = greater than, gte =
            greater than or equal, lt = less than, lte = less than or equal, eq
            = equal, ne = not equal
          example: avg
          schema:
            type: string
        - name: interval
          in: query
          required: false
          description: >-
            when using query=aggregate the allowed intervals are: "minute" |
            "hour" | "day" | "month" | "quarter" | "year"
          example: day
          schema:
            type: string
        - name: device-token
          in: header
          required: true
          description: Token provided on the Device's page (Required)
          example: Your device-token
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Example with all params
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        device:
                          type: string
                        variable:
                          type: string
                        value:
                          type: number
                        unit:
                          type: string
                        group:
                          type: string
                          format: utc-millisec
                        time:
                          type: string
                          format: date-time
                        created_at:
                          type: string
                          format: date-time
                        location:
                          type: object
                          properties:
                            type:
                              type: string
                            coordinates:
                              type: array
                              items:
                                type: number
              example:
                status: true
                result:
                  - id: 6143842f561c4e00199f517b
                    device: 612ea1694035dd0012f6d238
                    variable: temperature
                    value: -12.67
                    unit: °C
                    group: '1631814703672'
                    time: '2021-09-16T17:51:43.672Z'
                    created_at: '2021-09-16T17:51:43.672Z'
                    location:
                      type: point
                      coordinates:
                        - -78.677328
                        - 35.770723
    post:
      summary: Send data
      tags: *ref_0
      parameters:
        - name: device-token
          in: header
          required: true
          description: Token provided on the Device's page (Required)
          example: Your device-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Sending multiple data
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: 2 Data Added
    put:
      summary: Edit data
      tags: *ref_0
      parameters:
        - name: device-token
          in: header
          required: true
          description: Token provided on the Device's page (Required)
          example: Your device-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Editing data register by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: 1 item(s) updated
    delete:
      summary: Delete data(Only for mutable device type)
      tags: *ref_0
      parameters:
        - name: qty
          in: query
          required: false
          description: Quantity of data registers. Default is 15(Optional)
          example: '20'
          schema:
            type: integer
        - name: ordination
          in: query
          required: false
          description: Ascending or Descending. Default is descending(Optional)
          example: descending
          schema:
            type: string
        - name: skip
          in: query
          required: false
          description: Skip the first X amount of data, used for pagination. (Optional)
          example: '15'
          schema:
            type: integer
        - name: variables
          in: query
          required: false
          description: Filter data by variable (Optional)
          example: temperature
          schema:
            type: string
        - name: values
          in: query
          required: false
          description: Filter data by value [Accepts an array] (Optional)
          example: '12'
          schema:
            type: integer
        - name: ids
          in: query
          required: false
          description: Filter data by id [Accepts an array] (Optional)
          example: |
            6144a25e280ad80019688e689
          schema:
            type: integer
        - name: groups
          in: query
          required: false
          description: Filter data by group [Accepts an array] (Optional)
          example: '16731887966346'
          schema:
            type: integer
        - name: device-token
          in: header
          required: true
          description: Token provided on the Device's page (Required)
          example: Your device-token
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Deleting data using params
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: 1 Data Removed
  /device/params:
    parameters: []
    get:
      summary: Get configuration parameters
      tags: *ref_0
      parameters:
        - name: sent_status
          in: query
          required: false
          description: Filter by status [Accept Boolean] (Optional)
          example: 'true'
          schema:
            type: boolean
        - name: device-token
          in: header
          required: true
          description: Token provided on the Device's page (Required)
          example: Your device-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: List of configuration parameters returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        key:
                          type: string
                        value:
                          type: string
                        sent:
                          type: boolean
              example:
                status: true
                result:
                  - id: 6244401fe689b90014f9b299
                    key: param_key
                    value: param_value
                    sent: false
  /device/params/{paramID}:
    parameters:
      - name: paramID
        in: path
        required: true
        description: (Required)
        example: (Type your param ID)
        schema:
          type: string
    put:
      summary: Mark a configuration parameter as read
      tags: *ref_0
      parameters:
        - name: device-token
          in: header
          required: true
          description: Token provided on the Device's page (Required)
          example: Your device-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Update a configuration parameter as read(true)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Params Successfully Updated
  /device/token/{deviceID}:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: (Required)
        schema:
          type: string
    get:
      summary: List of Tokens
      tags: &ref_1
        - Profile (With Profile-Token)
        - Devices
        - Token
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
      responses:
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Retrieved Device's Token List
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        permission:
                          type: string
                        token:
                          type: string
                        expire_time:
                          type: string
                          format: date-time
                        serie_number:
                          nullable: true
                        last_authorization:
                          nullable: true
                        created_at:
                          type: string
                          format: date-time
              example:
                status: true
                result:
                  - name: TestToken
                    permission: full
                    token: f2ba4b46-3c57-44ce-810f-98e1271ea602
                    expire_time: '2022-03-30T01:15:14.914Z'
                    serie_number: null
                    last_authorization: null
                    created_at: '2022-03-29T22:15:14.915Z'
                  - name: Default
                    permission: full
                    token: 0a143c05-8bc9-41c8-be70-d786f23d9f00
                    expire_time: null
                    serie_number: null
                    last_authorization: null
                    created_at: '2022-03-29T21:57:43.671Z'
  /device/token:
    parameters: []
    post:
      summary: Create token
      tags: *ref_1
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '201':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Token created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      token:
                        type: string
                      expire_time:
                        type: string
                        format: date-time
                      permission:
                        type: string
              example:
                status: true
                result:
                  token: f2ba4b46-3c57-44ce-810f-98e1271ea602
                  expire_time: '2022-03-30T01:15:14.914Z'
                  permission: full
  /device/token/{tokenID}:
    parameters:
      - name: tokenID
        in: path
        required: true
        description: '(Required) '
        example: (Type a token ID to be deleted)
        schema:
          type: string
    delete:
      summary: Delete Token
      tags: *ref_1
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Delete Token
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Token Successfully Removed
  /device/{deviceID}/params:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: '(Required) '
        example: (Type your device ID)
        schema:
          type: string
    get:
      summary: List Device Params
      tags: &ref_2
        - Profile (With Profile-Token)
        - Devices
        - Configuration Param
      parameters:
        - name: sent_status
          in: query
          required: false
          description: 'Filter by Boolean (Optional) '
          example: 'false'
          schema:
            type: boolean
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: List Device Params
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        key:
                          type: string
                        value:
                          type: string
                        sent:
                          type: boolean
              example:
                status: true
                result:
                  - id: 62ab8294c1ac39001361e11b
                    key: param1
                    value: value1
                    sent: false
                  - id: 62ab8294c1ac39001361e11c
                    key: param2
                    value: value2
                    sent: false
    post:
      summary: Create and Edit Device Params
      tags: *ref_2
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '201':
          headers: {}
          description: Creating a Device's Params
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Params Successfully Updated
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: null
  /device/{deviceID}/params/{paramID}:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: '(Required) '
        example: (Type your device ID)
        schema:
          type: string
          minLength: 0
          maxLength: 0
      - name: paramID
        in: path
        required: true
        description: '(Required) '
        example: (Type your param ID)
        schema:
          type: string
          minLength: 0
          maxLength: 0
    delete:
      summary: Delete Device Param
      tags: *ref_2
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
            minLength: 0
            maxLength: 0
        - name: Accept
          in: header
          required: true
          example: application/json
          schema:
            type: string
            minLength: 0
            maxLength: 0
      responses:
        '200':
          headers: {}
          description: Deleting a Device Param by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Successfully Removed
  /device:
    parameters: []
    post:
      summary: Create new Device
      tags: &ref_3
        - Profile (With Profile-Token)
        - Devices
        - Mutable Device
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '201':
          headers: {}
          description: Mutable device created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      device_id:
                        type: string
                      token:
                        type: string
              example:
                status: true
                result:
                  device_id: 5dcad1c216174c001ca23ab9
                  token: 5a16405f-b32c-4c91-ae39-cbb2caba18d8
    get:
      summary: List of devices
      tags: &ref_5
        - Profile (With Profile-Token)
        - Devices
      parameters:
        - name: page
          in: query
          required: false
          description: Page number. (Optional)
          example: '1'
          schema:
            type: integer
        - name: amount
          in: query
          required: false
          description: Amount of devices by page. (Optional)
          example: '10'
          schema:
            type: integer
        - name: filter[id]
          in: query
          required: false
          description: Filter the device by ID.  (Optional)
          schema:
            type: string
        - name: filter[name]
          in: query
          required: false
          description: Filter the device name.  (Optional)
          schema:
            type: string
        - name: filter[visible]
          in: query
          required: false
          description: Filter the device visible status.  (Optional)
          example: true / false
          schema:
            type: string
        - name: filter[active]
          in: query
          required: false
          description: Filter the device active status.  (Optional)
          example: true / false
          schema:
            type: string
        - name: filter[connector]
          in: query
          required: false
          description: Filter the devices by the Connector ID.  (Optional)
          schema:
            type: string
        - name: filter[network]
          in: query
          required: false
          description: Filter the devices by the Network ID.  (Optional)
          schema:
            type: string
        - name: filter[tags]
          in: query
          required: false
          description: Filter device by it's tag. Check the example. (Optional)
          schema:
            type: string
        - name: filter[updated_at]
          in: query
          required: false
          description: >-
            Filter by time the device was received data. Can be an ISO-8601 or a
            relative date (Optional)
          example: 1 day
          schema:
            type: integer
        - name: filter[created_at]
          in: query
          required: false
          description: >-
            Filter by time the device was created. Can be an ISO-8601 or a
            relative date (Optional)
          example: 1 day
          schema:
            type: integer
        - name: orderBy
          in: query
          required: false
          example: created_at
          schema:
            type: string
        - name: resolveBucketName
          in: query
          required: false
          description: >-
            Get detailed information on the bucket, such as it's name.
            (Optional)
          example: true / false
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: List of devices retrieved using query params
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        network:
                          type: string
                        connector:
                          type: string
                        bucket:
                          type: string
                        id:
                          type: string
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              value:
                                type: string
              example:
                status: true
                result:
                  - name: 'Device #1'
                    network: 5bbd120d4051a50034cd1a05
                    connector: 5f5a8f3351d4db99c40ded2d
                    bucket: 5dcad1c216174c001ca23ab9
                    id: 5dcad1c216174c001ca23ab9
                    tags:
                      - key: type
                        value: Smoke Detector
                  - name: 'Device #2'
                    network: 5bbd120d4051a50034cd1a05
                    connector: 5f5a8f3351d4db99c40ded2d
                    bucket: 5dcad25016174c001ca24a09
                    id: 5dcad25016174c001ca24a09
                    tags:
                      - key: type
                        value: Smoke Detector
  /device/{device_id}/data/backup:
    parameters:
      - name: device_id
        in: path
        required: true
        description: Required
        example: (Type a device ID)
        schema:
          type: string
    post:
      summary: Export data to CSV in Files
      tags: *ref_3
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: (Your profile-token)
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Exporting data to Files
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      file_address:
                        type: string
              example:
                status: true
                result:
                  file_address: device/66db45b6552d1d00097956de/1732039901282.csv
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: null
  /device/{deviceID}/chunk:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: (Required)
        example: (Type a device ID)
        schema:
          type: string
    get:
      summary: List of chunks
      tags: &ref_4
        - Profile (With Profile-Token)
        - Devices
        - Immutable Device
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: (Your profile-token)
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Getting a list of chunks by bucket
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: integer
                        id:
                          type: string
                        from:
                          type: string
                          format: date-time
                        to:
                          type: string
                          format: date-time
              example:
                status: true
                result:
                  - amount: 1584
                    id: '1658102400_1658707199'
                    from: '2022-07-18T00:00:00.000+00:00'
                    to: '2022-07-24T23:59:59.999+00:00'
                  - amount: 13383
                    id: '1657497600_1658102399'
                    from: '2022-07-11T00:00:00.000+00:00'
                    to: '2022-07-17T23:59:59.999+00:00'
                  - amount: 12788
                    id: '1656892800_1657497599'
                    from: '2022-07-04T00:00:00.000+00:00'
                    to: '2022-07-10T23:59:59.999+00:00'
                  - amount: 12784
                    id: '1656288000_1656892799'
                    from: '2022-06-27T00:00:00.000+00:00'
                    to: '2022-07-03T23:59:59.999+00:00'
                  - amount: 4179
                    id: '1646611200_1647215999'
                    from: '2022-03-07T00:00:00.000+00:00'
                    to: '2022-03-13T23:59:59.999+00:00'
  /device/{deviceID}:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: '(Required) '
        example: (Type a device ID)
        schema:
          type: string
    put:
      summary: Update a bucket's chunk retention
      tags: *ref_4
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Chunk retention  updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Successfully Updated
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: null
    get:
      summary: Device information
      tags: *ref_5
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Getting a device information
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      active:
                        type: boolean
                      bucket:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                      connector:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      description:
                        type: string
                      id:
                        type: string
                      last_input:
                        type: string
                        format: date-time
                      name:
                        type: string
                      network:
                        type: string
                      payload_decoder:
                        nullable: true
                      profile:
                        type: string
                      tags:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            value:
                              type: string
                              format: utc-millisec
                      updated_at:
                        type: string
                        format: date-time
                      visible:
                        type: boolean
                      type:
                        type: string
                      data_retention:
                        type: string
              example:
                status: true
                result:
                  active: true
                  bucket:
                    id: 62a2646ffdea2f0013b1bfe7
                    name: Freezer Machine
                  connector: 60f19bda2889a60012d34167
                  created_at: '2022-06-09T21:21:51.877Z'
                  description: >-
                    Simulates a Extrusion machine with temperature, speed and
                    pressure
                  id: 62a2646ffdea2f0013b1bfe7
                  last_input: '2022-06-23T11:19:54.369Z'
                  name: Test Chunk Monthly
                  network: 6073cdfec79ed00011228e47
                  payload_decoder: null
                  profile: 612ea05e3cc0780012715111
                  tags:
                    - key: maxTemp
                      value: '20'
                    - key: minTemp
                      value: '0'
                  updated_at: '2022-06-09T21:53:22.752Z'
                  visible: true
                  type: mutable
                  data_retention: forever
    delete:
      summary: Delete device
      tags: *ref_5
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Deleting a device by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Successfully Removed
  /device/{deviceID}/chunk/backup:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: Required
        example: (Type a device ID)
        schema:
          type: string
    post:
      summary: Export a chunk as CSV to Files
      tags: *ref_4
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: (Your profile-token)
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Chunk exported to Files
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      chunk_id:
                        type: string
                      file_address:
                        type: string
              example:
                status: true
                result:
                  chunk_id: '1657497600_1658102399'
                  file_address: device/62a2643dcc8dd60012eb4838/2022-07-11_2022-07-17.csv
  /device/{deviceID}/chunk/{chunkID}:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: Required
        example: (Type a device ID)
        schema:
          type: string
      - name: chunkID
        in: path
        required: true
        description: Required
        example: (Type a chunk ID)
        schema:
          type: string
    delete:
      summary: Delete chunk
      tags: *ref_4
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: (Your profile-token)
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Chunk deleted from bucket
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Chunk 1657497600_1658102399 deleted
  /device/{deviceID}/convert:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: (Required a mutable or immutable device ID)
        example: (Type a device ID)
        schema:
          type: string
    post:
      summary: Convert Device Type
      tags: *ref_5
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: (Type a profile-token)
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Converting a device type to Mutable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Device type/chunk was converted
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: null
  /device/{deviceID}/data_amount:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: (Required)
        example: (Type a device ID)
        schema:
          type: string
    get:
      summary: Device data amount
      tags: *ref_5
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Getting a device data amount
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: integer
              example:
                status: true
                result: 529
  /device/{deviceID}/data/restore:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: Required
        example: (Type a device ID)
        schema:
          type: string
    post:
      summary: Import Data from a CSV in Files
      tags: *ref_5
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: (Your profile-token)
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Importing data from Files
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Data import added to the queue successfully!
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: null
  /device/{deviceID}/empty:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: (Required)
        example: (Type a device ID)
        schema:
          type: string
    post:
      summary: Empty a Device's Bucket
      tags: *ref_5
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Device's bucket empty
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Data Successfully Removed
  /device/{deviceID}/data:
    parameters:
      - name: deviceID
        in: path
        required: true
        description: (Required only mutable device)
        example: (Type a device ID)
        schema:
          type: string
    get:
      summary: Get Device Data
      tags: *ref_5
      parameters:
        - name: qty
          in: query
          required: false
          description: Numeric quantity of data to be returned (Not Required)
          example: '10'
          schema:
            type: integer
        - name: end_date
          in: query
          required: false
          description: >-
            Final date to get the data returned in ISO timestamp format (Not
            Required)
          example: '2023-10-10T13:17:16.290Z'
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Get Device Data
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        time:
                          type: string
                          format: date-time
                        unit:
                          type: string
                        value:
                          type: string
                          format: utc-millisec
                        variable:
                          type: string
                        location:
                          type: object
                          properties:
                            type:
                              type: string
                            coordinates:
                              type: array
                              items:
                                type: number
                        created_at:
                          type: string
                          format: date-time
                        group:
                          type: string
                        device:
                          type: string
              example:
                status: true
                result:
                  - id: 650b01244e91a0000fc65937
                    time: '2023-09-20T14:26:44.918Z'
                    unit: C
                    value: '16'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:26:44.918Z'
                    group: 63956cf0000a19e44210b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b011e59d9340009733690
                    time: '2023-09-20T14:26:38.015Z'
                    unit: C
                    value: '86'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:26:38.015Z'
                    group: f863379000439d95e110b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b01114e91a0000fc657ab
                    time: '2023-09-20T14:26:25.477Z'
                    unit: C
                    value: '16'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:26:25.477Z'
                    group: aa756cf0000a19e41110b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b010687e7e6001012ee0c
                    time: '2023-09-20T14:26:14.180Z'
                    unit: C
                    value: '58'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:26:14.180Z'
                    group: b0ee2101006e7e786010b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b00fb59d93400097333b6
                    time: '2023-09-20T14:26:03.199Z'
                    unit: C
                    value: '11'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:26:03.199Z'
                    group: 5b33379000439d95bf00b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b00f14e91a0000fc6542f
                    time: '2023-09-20T14:25:53.034Z'
                    unit: C
                    value: '3'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:25:53.034Z'
                    group: e2456cf0000a19e41f00b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b00e7011da1000f7e04f7
                    time: '2023-09-20T14:25:43.099Z'
                    unit: C
                    value: '10'
                    variable: test
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:25:43.099Z'
                    group: 6f40e7f0001ad1107e00b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b00dddb109c000ffbf77c
                    time: '2023-09-20T14:25:33.027Z'
                    unit: C
                    value: '7'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:25:33.027Z'
                    group: b77fbff000c901bddd00b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b00d3a919920009892e7c
                    time: '2023-09-20T14:25:23.020Z'
                    unit: C
                    value: '1'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:25:23.020Z'
                    group: b7e298900029919a3d00b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b00c9011da1000f7e0238
                    time: '2023-09-20T14:25:13.079Z'
                    unit: C
                    value: '12'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:25:13.079Z'
                    group: 7320e7f0001ad1109c00b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b00bfdb109c000ffbf41d
                    time: '2023-09-20T14:25:03.133Z'
                    unit: C
                    value: '66'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:25:03.133Z'
                    group: c14fbff000c901bdfb00b056
                    device: 6307b0b1b41f1b001a45c7e3
                  - id: 650b00b559d9340009732a47
                    time: '2023-09-20T14:24:53.134Z'
                    unit: C
                    value: '19'
                    variable: temperature
                    location:
                      type: Point
                      coordinates:
                        - -77.757328
                        - 36.68072299999999
                    created_at: '2023-09-20T14:24:53.135Z'
                    group: 64a2379000439d955b00b056
                    device: 6307b0b1b41f1b001a45c7e3
    put:
      summary: Edit Device Data(mutable device only)
      tags: *ref_5
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: (Your profile-token)
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Editing a device data
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: 1 item(s) updated
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: null
    delete:
      summary: Delete Device Data(mutable device only)
      tags: *ref_5
      parameters:
        - name: ids
          in: query
          required: true
          description: ID(s) of data to get deleted (Required)
          example: Data ID
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Delete Device Data(mutable device only)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: 1 Data Removed
  /run/notification:
    parameters: []
    post:
      summary: Create Notification
      tags: &ref_6
        - Profile (With Profile-Token)
        - Tago RUN
        - Users
        - Notification
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Creating a RUN notification
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      id:
                        type: string
              example:
                status: true
                result:
                  id: 3415de2676ff4e2001109e63b
  /run/notification/{userID}:
    parameters:
      - name: userID
        in: path
        required: true
        description: '(Required) '
        example: (Type a RUN user ID)
        schema:
          type: string
    get:
      summary: List of Notifications
      tags: *ref_6
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: List of the Run user notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        message:
                          type: string
                        read:
                          type: boolean
                        buttons:
                          type: array
                          items: {}
                        buttons_enabled:
                          type: boolean
                        buttons_autodisable:
                          type: boolean
                        created_at:
                          type: string
                          format: date-time
              example:
                status: true
                result:
                  - id: 62b0afde27ce4d0012c62256
                    title: Temperature back to normal
                    message: Your device has retuned to the regular temperature
                    read: false
                    buttons: []
                    buttons_enabled: true
                    buttons_autodisable: true
                    created_at: '2022-06-20T17:35:26.753Z'
                  - id: 62b0afde27ce4d0012c62286
                    title: Low Temperature
                    message: The temperature is lower than 18ºC.
                    read: true
                    buttons: []
                    buttons_enabled: true
                    buttons_autodisable: true
                    created_at: '2022-05-26T13:12:06.753Z'
  /run/notification/{notificationID}:
    parameters:
      - name: notificationID
        in: path
        required: true
        description: (Required)
        example: (Type your RUN notification ID)
        schema:
          type: string
    put:
      summary: Edit Notification
      tags: *ref_6
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Editing a RUN user notification
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: TagoIO Notification User Successfully Updated
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                message:
                  type: string
                read:
                  type: boolean
                buttons_enabled:
                  type: boolean
            example:
              title: new notification title
              message: new notification message
              read: true
              buttons_enabled: true
    delete:
      summary: Delete Notification
      tags: *ref_6
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Deleting a RUN user notification
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Successfully Removed
  /run/users/{userID}:
    parameters:
      - name: userID
        in: path
        required: true
        description: '(Required) '
        example: (Type a RUN user ID)
        schema:
          type: string
    get:
      summary: User Information
      tags: &ref_7
        - Profile (With Profile-Token)
        - Tago RUN
        - Users
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Getting RUN user information by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        profile:
                          type: string
                        name:
                          type: string
                        email:
                          type: string
                        timezone:
                          type: string
                        company:
                          type: string
                        phone:
                          type: string
                          format: utc-millisec
                        language:
                          type: string
                        active:
                          type: boolean
                        newsletter:
                          nullable: true
                        last_login:
                          type: string
                          format: date-time
                        options:
                          type: object
                          properties:
                            date_format:
                              type: string
                            time_format:
                              type: string
                              format: utc-millisec
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              value:
                                type: string
                        otp:
                          type: object
              example:
                status: true
                result:
                  - id: 614889df6a302639012a7caef
                    profile: 612ea05e3cc07803480127151133
                    name: runusername
                    email: runuser@email
                    timezone: America/New_York
                    company: Companyname
                    phone: '+010001010011'
                    language: en
                    active: true
                    newsletter: null
                    last_login: '2022-06-10T17:59:26.879Z'
                    options:
                      date_format: MM/DD/YYYY
                      time_format: '12'
                    created_at: '2022-01-21T21:29:08.957Z'
                    updated_at: '2022-06-14T14:16:52.377Z'
                    tags:
                      - key: user_type
                        value: enduser
                      - key: limit_login
                        value: '10'
                    otp: {}
    put:
      summary: Edit User
      tags: *ref_7
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Editing a RUN user information by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: TagoIO Run User Successfully Updated
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                timezone:
                  type: string
                company:
                  type: string
                phone:
                  type: string
                language:
                  type: string
                active:
                  type: boolean
                options:
                  type: object
                  properties:
                    date_format:
                      type: string
                    time_format:
                      type: string
                      format: utc-millisec
                tags:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
            example:
              name: <string>
              timezone: America/New_York
              company: <string>
              phone: <string>
              language: en
              active: true
              options:
                date_format: MM/DD/YYYY
                time_format: '12'
              tags:
                - key: user_type
                  value: enduser
                - key: limit_login
                  value: '10'
    delete:
      summary: Delete User
      tags: *ref_7
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers: {}
          description: Deleting a RUN user by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: string
              example:
                status: true
                result: Successfully Removed
  /run/users:
    parameters: []
    get:
      summary: List Users
      tags: *ref_7
      parameters:
        - name: page
          in: query
          required: false
          description: Page number. (Optional)
          example: '1'
          schema:
            type: integer
        - name: name
          in: query
          required: false
          description: Filter by the RUN user's name.  (Optional)
          example: John Doe
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Filter by the RUN user's email.  (Optional)
          example: runuser@email.com
          schema:
            type: string
        - name: timezone
          in: query
          required: false
          description: Filter by the RUN user's timezone.  (Optional)
          example: America/New_York
          schema:
            type: string
        - name: company
          in: query
          required: false
          description: Filter by the RUN user's company.  (Optional)
          example: Companyname
          schema:
            type: string
        - name: phone
          in: query
          required: false
          description: Filter by the RUN user's phone number.  (Optional)
          example: '+010001010011'
          schema:
            type: integer
        - name: language
          in: query
          required: false
          description: Filter by the RUN user's language.  (Optional)
          example: En
          schema:
            type: string
        - name: tags
          in: query
          required: false
          description: Filter by the RUN user's tags and keys.  (Optional)
          example: '[{"key":"tag_key","value":"tag value"}]'
          schema:
            type: string
        - name: active
          in: query
          required: false
          description: Filter by the RUN user's activation status.  (Optional)
          example: 'true'
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: Filter by the RUN user's id.  (Optional)
          example: 614889df6a302639012a7caef
          schema:
            type: integer
        - name: last_login
          in: query
          required: false
          description: Filter by the RUN user's last login.  (Optional)
          example: '2021-04-15T15:52:01.102Z'
          schema:
            type: integer
        - name: created_at
          in: query
          required: false
          description: Filter by the RUN user's creation timestamp.  (Optional)
          example: '2021-07-26T13:10:39.314Z'
          schema:
            type: integer
        - name: amount
          in: query
          required: false
          description: Amount of RUN users by page. (Optional)
          example: '5'
          schema:
            type: integer
        - name: orderBy
          in: query
          required: false
          description: Order by the RUN users name/ascending/descending (Optional)
          example: name,asc
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Getting a list of RUN users
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        profile:
                          type: string
                        name:
                          type: string
                        email:
                          type: string
                        timezone:
                          type: string
                        company:
                          type: string
                        phone:
                          type: string
                          format: utc-millisec
                        language:
                          type: string
                        active:
                          type: boolean
                        newsletter:
                          nullable: true
                        last_login:
                          type: string
                          format: date-time
                        options:
                          type: object
                          properties:
                            date_format:
                              type: string
                            time_format:
                              type: string
                              format: utc-millisec
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              value:
                                type: string
                        otp:
                          type: object
              example:
                status: true
                result:
                  - id: 614889df6a302639012a7caef
                    profile: 612ea05e3cc07803480127151133
                    name: runusername
                    email: runuser@email
                    timezone: America/New_York
                    company: Companyname
                    phone: '+010001010011'
                    language: en
                    active: true
                    newsletter: null
                    last_login: '2022-06-10T17:59:26.879Z'
                    options:
                      date_format: MM/DD/YYYY
                      time_format: '12'
                    created_at: '2022-01-21T21:29:08.957Z'
                    updated_at: '2022-06-14T14:16:52.377Z'
                    tags:
                      - key: user_type
                        value: enduser
                      - key: limit_login
                        value: '10'
                    otp: {}
    post:
      summary: Create User
      tags: *ref_7
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
        - name: Content-Type
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Creating a RUN user
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      user:
                        type: string
              example:
                status: true
                result:
                  user: 62b086df27ce4d0012be6bac
  /run:
    parameters: []
    get:
      summary: Get RUN settings
      tags: &ref_8
        - Profile (With Profile-Token)
        - Tago RUN
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Can be generated in your profile settings (Required)
          example: Your profile-token
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: RUN settings retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      profile:
                        type: string
                      url:
                        type: string
                      email_domain:
                        nullable: true
                      name:
                        type: string
                      sub_title:
                        type: string
                      signup_method:
                        type: string
                      favicon:
                        nullable: true
                      logo:
                        nullable: true
                      signup_logo:
                        nullable: true
                      signup_logo_options:
                        type: object
                      sidebar_buttons:
                        type: array
                        items:
                          type: object
                          properties:
                            href:
                              type: string
                            text:
                              type: string
                            type:
                              type: string
                            color:
                              type: string
                            iconUrl:
                              type: string
                              format: uri
                      signup_fields:
                        type: array
                        items: {}
                      email_templates:
                        type: object
                        properties:
                          welcome_actived:
                            type: object
                            properties:
                              value:
                                type: string
                              subject:
                                type: string
                          password_recover:
                            type: object
                            properties:
                              value:
                                type: string
                              subject:
                                type: string
                          welcome_autoconfirm:
                            type: object
                            properties:
                              value:
                                type: string
                              subject:
                                type: string
                          welcome_adminconfirm:
                            type: object
                            properties:
                              value:
                                type: string
                              subject:
                                type: string
                      feature_devicewifisetup:
                        type: object
                        properties:
                          ip:
                            type: string
                          name:
                            type: string
                          port:
                            type: string
                          enabled:
                            type: boolean
                          language:
                            type: string
                          protocol:
                            type: string
                          text_color:
                            type: string
                            format: color
                          translations:
                            type: object
                            properties:
                              EN:
                                type: object
                                properties:
                                  done_desc:
                                    type: string
                                  intro_img:
                                    type: string
                                  wait_desc:
                                    type: string
                                  done_title:
                                    type: string
                                  intro_desc:
                                    type: string
                                  wait_title:
                                    type: string
                                  intro_title:
                                    type: string
                                  param_title:
                                    type: string
                                  wifi_config_desc:
                                    type: string
                                  wifi_config_title:
                                    type: string
                          background_color:
                            type: string
                            format: color
                          button_cancel_text_color:
                            type: string
                            format: color
                          button_confirm_text_color:
                            type: string
                            format: color
                          button_cancel_background_color:
                            type: string
                            format: color
                          button_confirm_background_color:
                            type: string
                      feature_geolocation:
                        nullable: true
                      theme:
                        type: object
                        properties:
                          actionSchedule:
                            type: string
                            format: color
                          actionTriggerByData:
                            type: string
                            format: color
                          actionTriggerByMQTT:
                            type: string
                          actionTriggerByResource:
                            type: string
                          alertActionDangerBackground:
                            type: string
                          alertActionInfoBackground:
                            type: string
                          alertActionWarningBackground:
                            type: string
                          alertDangerBackground:
                            type: string
                          alertInfoBackground:
                            type: string
                          alertWarningBackground:
                            type: string
                          analysisExternal:
                            type: string
                          analysisInternal:
                            type: string
                          blueprint:
                            type: string
                          buttonDanger:
                            type: string
                            format: color
                          buttonDangerText:
                            type: string
                          buttonDefault:
                            type: string
                          buttonDefaultText:
                            type: string
                          buttonDisabled:
                            type: string
                          buttonDisabledText:
                            type: string
                          buttonIconLabel:
                            type: string
                          buttonPrimary:
                            type: string
                          buttonPrimaryText:
                            type: string
                          buttonSuccess:
                            type: string
                            format: color
                          buttonSuccessText:
                            type: string
                          buttonUpgrade:
                            type: string
                          buttonUpgradeText:
                            type: string
                          buttonWarning:
                            type: string
                          buttonWarningText:
                            type: string
                          contentBackground:
                            type: string
                          contentHeader:
                            type: string
                          contentHeaderGradient:
                            type: string
                            format: color
                          contentHeaderSeparator:
                            type: string
                          contentHeaderText:
                            type: string
                          dataStorageImmutable:
                            type: string
                          dataStorageMutable:
                            type: string
                          deviceInputOutput1Day:
                            type: string
                          deviceInputOutput3Days:
                            type: string
                          deviceInputOutput3Hours:
                            type: string
                          deviceInputOutput6Hours:
                            type: string
                          deviceInputOutputRest:
                            type: string
                          deviceListAlternateRow:
                            type: string
                          deviceListColumn:
                            type: string
                          dictionaryAlertIcon:
                            type: string
                          dictionaryPrimary:
                            type: string
                          dottedBorder:
                            type: string
                          dropdownAccent:
                            type: string
                          dropdownBackground:
                            type: string
                          dynamicTableAlternateRow:
                            type: string
                          dynamicTableColumn:
                            type: string
                          filesSelection:
                            type: string
                          floatingSidebarTitle:
                            type: string
                          footerBackground:
                            type: string
                          formControlBorder:
                            type: string
                          formControlFocus:
                            type: string
                          gaugeDanger:
                            type: string
                            format: color
                          gaugeEmpty:
                            type: string
                          gaugeFill:
                            type: string
                          gaugePrimaryText:
                            type: string
                          gaugeSecondaryText:
                            type: string
                          gaugeTick:
                            type: string
                          html5:
                            type: string
                          iconRadioSelected:
                            type: string
                          iconRadioSubTitle:
                            type: string
                          informationIcon:
                            type: string
                          inputBackground:
                            type: string
                          inputBackgroundReadOnly:
                            type: string
                          inputError:
                            type: string
                            format: color
                          inputForeground:
                            type: string
                          inputForegroundReadOnly:
                            type: string
                          lightBorder:
                            type: string
                          limitAlert:
                            type: string
                          link:
                            type: string
                          listNavColor:
                            type: string
                          listTitleLabel:
                            type: string
                          loading:
                            type: string
                          loginButton:
                            type: string
                          loginButtonText:
                            type: string
                          loginForeground:
                            type: string
                          loginForm:
                            type: string
                          modalContainer:
                            type: string
[...]
