openapi: 3.1.0
info:
  title: TagoIO API
  description: >-
    #### **How to use this documentation**

    The documentation is split by which token you're required to use in the
    request.  

    TagoIO provides 4 different tokens:

    - **Device-Token**: The token from your device, which you can get from the
    device's page.
        
    - **Profile-Token**: Also know as Account-Token. You get from your profile
    settings page.
        
    - **Network-Token**: Is the token from your Network. Only available if
    you're owner of the network in your integrations page.
        
    - **Analysis-Token:** The token from your analysis, available in the
    analysis page.

    ---

    #### Setting the API Endpoint Region

    When making a request to the TagoIO API, you must also specify the
    appropriate regional endpoint. Choose one of the following endpoints based
    on your geographical region:


    - **United States East 1:**  
        Use this endpoint when your application is based in the eastern United States.  
        **URL:** `https://api.us-e1.tago.io/`
        
    - **Europe West 1:**  
        Use this endpoint when your application is based in Western Europe.  
        **URL:** `https://api.eu-w1.tago.io/`
    
    - **Tago Deploy:**  
      You should use your own API URL that is available in your Domains section of the TagoDeploy.
  version: 1.0.0
  contact: {}

components:
  securitySchemes:
    Device-Token:
      type: apiKey
      description: >-
        A Device-Token that is unique to your device. Generate a token by
        accessing your Device's page.
      name: Device-Token
      in: header
      x-example: 5e12345a-d70a-4e2d-b83d-5c0123456789
    Network-Token:
      type: apiKey
      description: >-
        A Network Token that is unique to your Network. Access Integrations >
        Network > Tokens to generate a token for your Network.
      name: Token
      in: header
      x-DisplayName: Network-Token
      x-example: fd549ad2-813c-4d66-bf72-508e5b98afe3
    Profile-Token:
      type: apiKey
      description: >-
        A Profile token that is unique to your entire profile. Generate in your
        account settings.
      name: Profile-Token
      in: header
      x-example: a15ea5ea-dd2d-4c63-8945-92b54da4772a

  schemas:
    DeviceDataItem:
      type: object
      required: [variable]
      properties:
        variable:
          type: string
          example: location
        location:
          type: object
          properties:
            lat:
              type: number
              example: 35.770723
            lng:
              type: number
              example: -78.677328
        value:
          type: string
          example: TagoIO Headquarters
        time:
          type: string
          description: ISO 8601 string or Unix timestamp
          example: '2023-12-01T12:34:56.000Z'
        group:
          type: string
          description: Unique grouping ID for your data. Widgets often group by this.
        unit:
          type: string
          example: '%'
          description: Provide a unit of measurement to the data. Most widgets will display the unit.
        metadata:
          type: object
          description: Can be attached to the data to influence widget behavior and store additional information.
          additionalProperties: true
          example:
            color: red
            icon: car

    DeviceData:
      description: |
        Accepts a single item or an array of items when sent as application/json.
        For text/plain content, use the [Payload Parser](/docs/tagoio/devices/payload-parser/) to normalize the data into TagoIO JSON format.
      oneOf:
        - $ref: '#/components/schemas/DeviceDataItem'
        - $ref: '#/components/schemas/DeviceDataArray'
    DeviceDataArray:
      type: array
      items:
        $ref: '#/components/schemas/DeviceDataItem'
      description: Accepts a single item or an array of items.
  requestBodies:
    DeviceDataBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeviceData'
          examples:
            Send data (object):
              value:
                variable: location
                value: TagoIO Headquarters
                location:
                  lat: 35.770723
                  lng: -78.677328
            Send data (array):
              value:
                - variable: location
                  value: TagoIO Headquarters
                  location:
                    lat: 35.770723
                    lng: -78.677328
                - variable: location
                  value: New York Office
                  location:
                    lat: 40.712776
                    lng: -74.005974
        text/plain:
          schema:
            type: string
            description: Raw text data that will be processed by the device's Payload Parser to normalize into TagoIO JSON format.
          examples:
            Raw sensor data:
              value: "temperature:23.5,humidity:45.2,battery:87"
            HEX payload:
              value: "41BC7E1F2A"
            Custom format:
              value: "sensor_id=123&temp=25.6&status=ok"

  parameters:
    DeleteFilterQty:
      name: qty
      in: query
      description: Quantity of data records to delete. Default is 15.
      schema:
        type: integer
        minimum: 1
        default: 15
        example: 20
    DeleteFilterOrdination:
      name: ordination
      in: query
      description: Sort direction. Default is descending.
      schema:
        type: string
        enum: [ascending, descending]
        default: descending
        example: descending
    DeleteFilterSkip:
      name: skip
      in: query
      description: Number of items to skip (pagination).
      schema:
        type: integer
        minimum: 0
        example: 15
    DeleteFilterVariables:
      name: variables
      in: query
      description: Filter data by variable.
      schema:
        type: string
        example: temperature
    DeleteFilterValues:
      name: values
      in: query
      description: Filter data by value. Accepts single or multiple values.
      schema:
        type: string
        items:
          type: string
        example: '12'
    DeleteFilterIds:
      name: ids
      in: query
      description: Filter data by id. Accepts single or multiple values.
      schema:
        type: string
        items:
          type: string
        example: '6144a25e280ad80019688e689'
    DeleteFilterGroups:
      name: groups
      in: query
      description: |
        Filter data by group. Accepts single or multiple values.
        For multiple, send `groups[0]=foo&groups[1]=bar`.
      schema:
        type: string
        items:
          type: string
        example: '16731887966346'

servers:
  - url: 'https://api.us-e1.tago.io'
  - url: 'https://api.eu-w1.tago.io'

security:
  - ProfileToken: []

tags:
  - name: Device Data
    description: Endpoints that act as a device using a Device Token (device-level permissions).
  - name: Network Ingest
    description: Endpoints that act as a network using a Network Token (network-level permissions).
  - name: Devices
    description: Manage devices using a Profile Token (admin-level).
  - name: Device Tokens
    description: Manage device tokens (Profile Token).
  - name: Configuration Params
    description: Manage device configuration parameters (Profile Token).
  - name: Import/Export
    description: Import/Export Operations for devices  (Profile Token).
  - name: Immutable Device
    description: Operations specific to immutable device type (Profile Token).
  - name: TagoRUN
    description: Operations for TagoRUN (Profile Token).
  - name: Users
    description: Manage TagoRUN users (Profile Token).
  - name: Notifications
    description: Manage notifications (Profile Token).
  - name: Entity
    description: Manage entities (Profile Token).
  - name: Entity Data
    description: Operations specific to managing entitie stored data (Profile Token)
  - name: Dashboards
    description: Manage dashboards (Profile Token).
  - name: Widgets
    description: Manage widgets (Profile Token).
  - name: Files
    description: File storage operations (Profile Token).
  - name: Uploads
    description: File upload operations (Profile Token).
  - name: Statistics / Billing
    description: Usage statistics and billing (Profile Token).
  - name: Account
    description: Account-level operations (Profile Token).
  - name: Access Management
    description: Roles, permissions, and sharing (Profile Token).
  - name: Profile
    description: Manage your own profile settings (Profile Token).
  - name: Dictionary
    description: Manage Dictionary Slugs and Keys for TagoRUN (Profile Token).

x-tagGroups:
  - name: Device Token (Device-level)
    tags:
      - Device Data
  - name: Network Token (Network-level)
    tags:
      - Network Ingest
  - name: Device Management
    tags:
      - Devices
      - Device Tokens
      - Configuration Param
      - Import/Export
      - Immutable Device
  - name: Tago RUN
    tags:
      - Tago RUN
      - Users
      - Dictionary
      - Notifications
  - name: Dashboards
    tags:
      - Dashboards
      - Widgets
  - name: File(s) Management
    tags:
      - Files
      - Upload
  - name: Profile
    tags:
      - Account
      - Profile
      - Statistics / Billing
  - name: Entities
    tags:
      - Entity
      - Entity Data

  - name: Resources
    tags:
      - Access Management
paths:
  /info:
    get:
      tags:
        - Device Data
      summary: Device Information
      description: >
        Get information about the current device
      operationId: currentDeviceInformation
      security:
        - Device-Token: []
      responses:
        '200':
          description: >-
            Get information about current device successfuly
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      active:
                        type: boolean
                        example: true
                      connector:
                        type: string
                        example: 62333bd36977fc001a2990c8
                      created_at:
                        type: string
                        example: '2022-06-02T18:09:07.135Z'
                      id:
                        type: string
                        example: 6298fcc3e0b6840012b6abfa
                      last_input:
                        type: string
                        example: '2022-06-02T19:40:54.517Z'
                      name:
                        type: string
                        example: TagoIO Device
                      network:
                        type: string
                        example: 62336c32ab6e0d0012e06c04
                      payload_decoder:
                        type: string
                        example: >-
                          LyogVGhpcyBpcyBhIGRlZmF1bHQgZXhhbXBsZSBmb3IgcGF5bG9hZCBwYXJzZXIuCioqIFRoZSBpZ25vcmVfdmFycyB2YXJpYWJsZSBpbiB0aGlzIGNvZGUgc2hvdWxkIGJlIHVzZWQgdG8gaWdub3JlIHZhcmlhYmxlcwoqKiBmcm9tIHRoZSBkZXZpY2UgdGhhdCB5b3UgZG9uJ3Qgd2FudC4KKioKKiogVGVzdGluZzoKKiogWW91IGNhbiBkbyBtYW51YWwgdGVzdHMgdG8gdGhpcyBwYXJzZSBieSB1c2luZyB0aGUgRGV2aWNlIEVtdWxhdG9yLiBDb3B5IGFuZCBQYXN0ZSB0aGUgZm9sbG93aW5nIGNvZGU6CioqIFt7ICJ2YXJpYWJsZSI6ICJwYXlsb2FkIiwgInZhbHVlIjogIjAxMDk2MTEzOTUiIH1dCioqCiovCi8vIEFkZCBpZ25vcmFibGUgdmFyaWFibGVzIGluIHRoaXMgYXJyYXkuCmNvbnN0IGlnbm9yZV92YXJzID0gWydyZl9jaGFpbicsICdjaGFubmVsJywgJ21vZHVsYXRpb24nLCAnYXBwX2lkJywgJ2Rldl9pZCcsICd0aW1lJywgJ2d0d190cnVzdGVkJywgJ3BvcnQnXTsKCi8vIFJlbW92ZSB1bndhbnRlZCB2YXJpYWJsZXMuCnBheWxvYWQgPSBwYXlsb2FkLmZpbHRlcih4ID0+ICFpZ25vcmVfdmFycy5pbmNsdWRlcyh4LnZhcmlhYmxlKSk7CgovLyBZb3UgY2FuIGVkaXQgYW55IHZhcmlhYmxlIHRoYXQncyBiZWluZyBhZGRlZCB0byB5b3VyIGRldmljZS4KLy8gRm9yIGV4YW1wbGUsIGlmIHlvdSBuZWVkIHRvIGNvbnZlcnQgYSB2YXJpYWJsZSBmcm9tIEZhaHJlaW50aCB0byBDZWxzaXVzLCB1bmNvbW1lbnQgdGhlIGZvbGxvd2luZyBjb2RlOgovLyBjb25zdCB0ZW1wZXJhdHVyZSA9IHBheWxvYWQuZmluZCh4ID0+IHgudmFyaWFibGUgPT09ICJ0ZW1wZXJhdHVyZSIpOwovLyBpZiAodGVtcGVyYXR1cmUpIHsKLy8gICB0ZW1wZXJhdHVyZS52YWx1ZSA9ICg1IC8gOSkgKiAodGVtcGVyYXR1cmUudmFsdWUgLSAzMik7Ci8vICAgdGVtcGVyYXR1cmUudW5pdCA9ICJDIjsKLy8gfQ==
                      profile:
                        type: string
                        example: 5e1e192a06fbee00265ccfb0
                      tags:
                        type: array
                        items: {}
                        example: []
                      type:
                        type: string
                        example: mutable
                      updated_at:
                        type: string
                        example: '2022-06-10T20:22:59.405Z'
                      visible:
                        type: boolean
                        example: true
                  status:
                    type: boolean
                    example: true
  /data:
    get:
      tags:
        - Device Data
      summary: Get Data
      description: Get data from the device.
      operationId: getData
      parameters:
        - name: query
          in: query
          schema:
            type: string
            enum: [count, min, max, avg, sum, last_item, last_location, aggregate, conditional]
          description: Select the query mode.
        - name: qty
          in: query
          schema:
            type: integer
            minimum: 1
            example: 20
          description: Total quantity of data to retrieve.
        - name: details
          in: query
          schema:
            type: boolean
            example: true
          description: Include additional fields (e.g., created_at).
        - name: ordination
          in: query
          schema:
            type: string
            enum: [ascending, descending]
            example: descending
          description: Sort order.
        - name: skip
          in: query
          schema:
            type: integer
            minimum: 0
            example: 15
          description: Number of items to skip.
        - name: variables
          in: query
          schema:
            type: string
            example: temperature
          description: Filter data by variable.
        - name: values
          in: query
          schema:
            type: string
            example: '25'
          description: Filter data by value.
        - name: groups
          in: query
          schema:
            type: string
            example: '0923092039'
          description: Filter by group identifier.
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
            example: '2022-09-09T10:28:44Z'
          description: Start timestamp or relative date.
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
            example: '2022-09-10T10:28:44Z'
          description: End timestamp or relative date.
        - name: function
          in: query
          schema:
            type: string
            enum: [avg, sum, min, max, gt, gte, lt, lte, eq, ne]
            example: avg
          description: >-
            Allowed values depend on query mode: aggregate → avg,sum,min,max; conditional → gt,gte,lt,lte,eq,ne.
      security:
        - Device-Token: []
      responses:
        '200':
          description: >-
            Success Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        created_at:
                          type: string
                          example: '2021-09-16T17:51:43.672Z'
                        device:
                          type: string
                          example: 612ea1694035dd0012f6d238
                        group:
                          type: string
                          example: '1631814703672'
                        id:
                          type: string
                          example: 6143842f561c4e00199f517b
                        location:
                          type: object
                          properties:
                            coordinates:
                              type: array
                              items:
                                type: number
                                example: -78.677328
                              example:
                                - -78.677328
                                - 35.770723
                            type:
                              type: string
                              example: point
                        time:
                          type: string
                          example: '2021-09-16T17:51:43.672Z'
                        unit:
                          type: string
                          example: °C
                        value:
                          type: number
                          example: -12.67
                        variable:
                          type: string
                          example: temperature
                    example:
                      - created_at: '2021-09-16T17:51:43.672Z'
                        device: 612ea1694035dd0012f6d238
                        group: '1631814703672'
                        id: 6143842f561c4e00199f517b
                        location:
                          coordinates:
                            - -78.677328
                            - 35.770723
                          type: point
                        time: '2021-09-16T17:51:43.672Z'
                        unit: °C
                        value: -12.67
                        variable: temperature
                  status:
                    type: boolean
                    example: true
              
    put:
      tags:
        - Device Data
      summary: Edit Data
      description: >-
        Edit specific data stored in the device. Same properties as the Create Data is accepted, edit requires the ID field of the data to be edited.

        :::info  
        
        This request is only available when using Mutable Storage on Devices  
        
        :::  
      operationId: editData
      security:
        - Device-Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - id
                properties:
                  id:
                    type: string
                    example: 6298fcc3e0b6840012bb6abfa
                  metadata:
                    type: object
                    properties:
                      color:
                        type: string
                        example: blue
                  value:
                    type: string
                    example: '27'
              example:
                - id: 6298fcc3e0b6840012bb6abfa
                  metadata:
                    color: blue
                  value: '27'
          text/plain:
            examples:
              Edit data:
                value: |-
                  [
                      {
                          "id": "6298fcc3e0b6840012bb6abfa",
                          "value": "27", // edit the value field
                          "metadata": { // edit the metadata field
                              "color": "blue"
                          }
                      }
                  ]
      responses:
        '200':
          description: Editing data register by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 1 item(s) updated
                  status:
                    type: boolean
                    example: true
    post:
      tags:
        - Device Data
      summary: Send Data
      description: |
        Send Device Data
      operationId: sendData
      security:
        - Device-Token: []
      requestBody:
        $ref: '#/components/requestBodies/DeviceDataBody'
      responses:
        '200':
          description: Sending data
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 2 Data Added
                  status:
                    type: boolean
                    example: true
    delete:
      tags:
        - Device Data
      summary: Delete Data
      description: >
        Delete data from the device.

        :::info  
        
        This request is only available when using Mutable Storage on Devices.  
        
        :::
        
      operationId: deleteData
      parameters:
        - $ref: '#/components/parameters/DeleteFilterQty'
        - $ref: '#/components/parameters/DeleteFilterOrdination'
        - $ref: '#/components/parameters/DeleteFilterSkip'
        - $ref: '#/components/parameters/DeleteFilterVariables'
        - $ref: '#/components/parameters/DeleteFilterValues'
        - $ref: '#/components/parameters/DeleteFilterIds'
        - $ref: '#/components/parameters/DeleteFilterGroups'
      security:
        - Device-Token: []
      responses:
        '200':
          description: Deleting data using params
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 1 Data Removed
                  status:
                    type: boolean
                    example: true
  /device/params:
    get:
      tags:
        - Device Data
      summary: List Config. parameters
      description: |
        Retrieve configuration parameters for the current device. This is useful for delivering settings or instructions that your device can periodically check for updates.

        [Configuration Parameters](/docs/tagoio/devices/configuration-parameters-for-devices) can be used to provide URLs (such as for firmware updates) or any other settings needed to control device behavior.
      operationId: getConfigurationParameters
      parameters:
        - name: sent_status
          in: query
          schema:
            type: string
            example: 'true'
          description: Filter by `sent` status.
      security:
        - Device-Token: []
      responses:
        '200':
          description: List of configuration parameters returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 6244401fe689b90014f9b299
                        key:
                          type: string
                          example: param_key
                        sent:
                          type: boolean
                          example: false
                        value:
                          type: string
                          example: param_value
                  status:
                    type: boolean
                    example: true
  /device/params/{paramID}:
    put:
      tags:
        - Device Data
      summary: Mark Config. Parameter as Read
      description: |
        Marks a configuration parameter as read on the current device.  
        
        This is useful when collecting settings from Configuration Parameters and you need to track whether you have already processed the current value. Use this endpoint to set the `sent` field to `true`.
      operationId: markAConfigurationParameterAsRead
      security:
        - Device-Token: []
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Params Successfully Updated
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: paramID
        in: path
        required: true
        schema:
          type: string
          example: (Type your param ID)
  /device/token/{deviceID}:
    get:
      tags:
        - Device Tokens
      summary: List Tokens
      description: |
        Retrieves list of all tokens from device
      operationId: listOfTokens
      responses:
        '200':
          description: ''
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
  /device/token:
    post:
      tags:
        - Device Tokens
      summary: Create Token
      description: |
        Generate and retrieve a new token
      operationId: createToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device:
                  type: string
                  example: 6243321z80d789a05800143075a4
                expire_time:
                  type: string
                  example: 3 hours
                name:
                  type: string
                  example: TestToken
                serie_number:
                  type: string
                  example: 359881234567890
                  description: If applicable for the selected Network. Can be an IMEI, EUI, or unique serial number.
            examples:
              Create token:
                value:
                  device: 6243321z80d789a05800143075a4
                  expire_time: 3 hours
                  name: TestToken
          text/plain:
            examples:
              Create token:
                value: "{\r\n    \"expire_time\": \"never\", // ISO-8601 or relative date, e.g 1 day\r\n    \"name\": \"Token #2\",\r\n    \"permission\": \"full\", // full, read or write\r\n    \"serie_number\": \"\", //Optional\r\n    \"device\": \"6298fcc3e0b6840012b6abfa\"\r\n}"
      responses:
        '201':
          description: Token created
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      expire_time:
                        type: string
                        example: '2022-03-30T01:15:14.914Z'
                      permission:
                        type: string
                        example: full
                      token:
                        type: string
                        example: f2ba4b46-3c57-44ce-810f-98e1271ea602
                  status:
                    type: boolean
                    example: true
  /device/token/{tokenID}:
    delete:
      tags:
        - Device Tokens
      summary: Delete Token
      description: |
        Delete a token
      operationId: deleteToken
      responses:
        '200':
          description: Delete Token
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Token Successfully Removed
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: tokenID
        in: path
        required: true
        schema:
          type: string
          example: (Type a token ID to be deleted)
  /device/{deviceID}/params:
    get:
      tags:
        - Configuration Param
      summary: List Device Params
      description: |
        List params for the device
      operationId: listDeviceParams
      parameters:
        - name: sent_status
          in: query
          schema:
            type: string
            example: 'false'
          description: 'Filter by Boolean.'
      responses:
        '200':
          description: List Device Params
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 62ab8294c1ac39001361e11b
                        key:
                          type: string
                          example: param1
                        sent:
                          type: boolean
                          example: false
                        value:
                          type: string
                          example: value1
                    example:
                      - id: 62ab8294c1ac39001361e11b
                        key: param1
                        sent: false
                        value: value1
                      - id: 62ab8294c1ac39001361e11c
                        key: param2
                        sent: false
                        value: value2
                  status:
                    type: boolean
                    example: true
    post:
      tags:
        - Configuration Param
      summary: Create and Edit Device Params
      description: |
        Create and edit params for the device
      operationId: createAndEditDeviceParams
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: 62aba74d84acd30011ac593f
                key:
                  type: string
                  example: updatedKey
                sent:
                  type: boolean
                  example: false
                value:
                  type: string
                  example: updatedValue
            examples:
              Create and Edit Device Params:
                value:
                  id: 62aba74d84acd30011ac593f
                  key: updatedKey
                  sent: false
                  value: updatedValue
      responses:
        '201':
          description: Creating or editing device parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Params Successfully Updated
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: (Type your device ID)
  /device/{deviceID}/params/{paramID}:
    delete:
      tags:
        - Configuration Param
      summary: Delete Device Param
      description: |
        Delete param from the device
      operationId: deleteDeviceParam
      responses:
        '200':
          description: Deleting a Device Param by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully Removed
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: (Type your device ID)
      - name: paramID
        in: path
        required: true
        schema:
          type: string
          example: (Type your param ID)
  /device:
    get:
      tags:
        - Devices
      summary: List of Devices
      description: |
        Retrieves a list with all devices from the profile
      operationId: listOfDevices
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: '1'
          description: Page number. 
        - name: amount
          in: query
          schema:
            type: string
            example: '10'
          description: Amount of devices by page. 
        - name: filter[id]
          in: query
          schema:
            type: string
            example: ''
          description: Filter the device by ID.  
        - name: filter[name]
          in: query
          schema:
            type: string
            example: ''
          description: Filter the device name.  
        - name: filter[visible]
          in: query
          schema:
            type: string
            example: true / false
          description: Filter the device visible status.  
        - name: filter[active]
          in: query
          schema:
            type: string
            example: true / false
          description: Filter the device active status.  
        - name: filter[connector]
          in: query
          schema:
            type: string
            example: ''
          description: Filter the devices by the Connector ID.  
        - name: filter[network]
          in: query
          schema:
            type: string
            example: ''
          description: Filter the devices by the Network ID.  
        - name: filter[tags]
          in: query
          schema:
            type: string
            example: ''
          description: Filter device by it's tag. Check the example. 
        - name: filter[updated_at]
          in: query
          schema:
            type: string
            example: 1 day
          description: >-
            Filter by time the device was received data. Can be an ISO-8601 or a
            relative date 
        - name: filter[created_at]
          in: query
          schema:
            type: string
            example: 1 day
          description: >-
            Filter by time the device was created. Can be an ISO-8601 or a
            relative date 
        - name: orderBy
          in: query
          schema:
            type: string
            example: created_at
      responses:
        '200':
          description: List of devices retrieved using query params
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        connector:
                          type: string
                          example: 5f5a8f3351d4db99c40ded2d
                        id:
                          type: string
                          example: 5dcad1c216174c001ca23ab9
                        name:
                          type: string
                          example: 'Device #1'
                        network:
                          type: string
                          example: 5bbd120d4051a50034cd1a05
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                example: type
                              value:
                                type: string
                                example: Smoke Detector
                          example:
                            - key: type
                              value: Smoke Detector
                    example:
                      - connector: 5f5a8f3351d4db99c40ded2d
                        id: 5dcad1c216174c001ca23ab9
                        name: 'Device #1'
                        network: 5bbd120d4051a50034cd1a05
                        tags:
                          - key: type
                            value: Smoke Detector
                      - connector: 5f5a8f3351d4db99c40ded2d
                        id: 5dcad25016174c001ca24a09
                        name: 'Device #2'
                        network: 5bbd120d4051a50034cd1a05
                        tags:
                          - key: type
                            value: Smoke Detector
                  status:
                    type: boolean
                    example: true
              examples:
                List of devices retrieved using query params:
                  value:
                    result:
                      - connector: 5f5a8f3351d4db99c40ded2d
                        id: 5dcad1c216174c001ca23ab9
                        name: 'Device #1'
                        network: 5bbd120d4051a50034cd1a05
                        tags:
                          - key: type
                            value: Smoke Detector
                      - connector: 5f5a8f3351d4db99c40ded2d
                        id: 5dcad25016174c001ca24a09
                        name: 'Device #2'
                        network: 5bbd120d4051a50034cd1a05
                        tags:
                          - key: type
                            value: Smoke Detector
                    status: true
    post:
      tags:
        - Devices
      summary: Create Device
      description: Create either an immutable or a mutable device. Immutable devices require chunking parameters and are optimized for long-term, append-only storage. Mutable devices behave like classic devices and do not require chunk settings.
      operationId: createNewDevice
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - title: "Immutable Device Creation"
                  type: object
                  required: ["name", "type", "network", "connector", "chunk_period", "chunk_retention"]
                  properties:
                    name:
                      type: string
                      description: "Device name"
                      example: "My first immutable device"
                    type:
                      type: string
                      enum: ["immutable"]
                      description: "Device type - must be 'immutable' for immutable devices"
                      example: "immutable"
                    network:
                      type: string
                      description: "Network ID where the device will be created"
                      example: "5bbd0d144051a50034cd19fb"
                    connector:
                      type: string
                      description: "Connector ID for the device"
                      example: "5f5a8f3351d4db99c40dece5"
                    chunk_period:
                      type: string
                      enum: ["day", "week", "month", "quarter"]
                      description: "Chunk period for data storage - one of day, week, month, quarter"
                      example: "quarter"
                    chunk_retention:
                      type: number
                      minimum: 0
                      maximum: 36
                      description: "Number of chunks to retain (0-36)"
                      example: 36
                    serie_number:
                      type: string
                      description: "Serial number - only required if specified by the network"
                      example: "AB87392C17CA"
                    tags:
                      type: array
                      description: "Device tags as key-value string pairs"
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: "Tag key"
                            example: "tagKey1"
                          value:
                            type: string
                            description: "Tag value"
                            example: "value1"
                      example:
                        - key: "tagKey1"
                          value: "value1"
                        - key: "tagKey2"
                          value: "value2"
                - title: "Mutable Device Creation"
                  type: object
                  required: ["name", "type", "network", "connector"]
                  properties:
                    name:
                      type: string
                      description: "Device name"
                      example: "My first device"
                    type:
                      type: string
                      enum: ["mutable"]
                      description: "Device type - must be 'mutable' for mutable devices"
                      example: "mutable"
                    network:
                      type: string
                      description: "Network ID where the device will be created"
                      example: "5bbd0d144051a50034cd19fb"
                    connector:
                      type: string
                      description: "Connector ID for the device"
                      example: "5f5a8f3351d4db99c40dece5"
                    serie_number:
                      type: string
                      description: "Serial number - only required if specified by the network"
                      example: "AB87392C12CA"
                    active:
                      type: boolean
                      description: "Device active status"
                      example: true
                    payload_decoder:
                      type: string
                      description: "Base64 encoded payload decoder function"
                    tags:
                      type: array
                      description: "Device tags"
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            example: "tagKey1"
                          value:
                            type: string
                            example: "value1"
                      example:
                        - key: "tagKey1"
                          value: "value1"
                        - key: "tagKey2"
                          value: "value2"
                    visible:
                      type: boolean
                      description: "Device visibility status"
                      example: true
                      
            examples:
              Create Immutable Device:
                value:
                  name: "My first immutable device"
                  type: "immutable"
                  network: "5bbd0d144051a50034cd19fb"
                  connector: "5f5a8f3351d4db99c40dece5"
                  chunk_period: "quarter"
                  chunk_retention: 36
                  serie_number: "AB87392C17CA"
              Create Mutable Device:
                value:
                  name: "My first device"
                  type: "mutable"
                  network: "5bbd0d144051a50034cd19fb"
                  connector: "5f5a8f3351d4db99c40dece5"
                  serie_number: "AB87392C12CA"
              Create Mutable Device with Parse Function:
                value:
                  name: "Mutable device"
                  type: "mutable"
                  network: "5bbd0d144051a50034cd19fb"
                  connector: "5f5a8f3351d4db99c40dece5"
                  action: true
                  active: true
                  visible: true
                  tags:
                    - key: "tagKey1"
                      value: "value1"
                    - key: "tagKey2"
                      value: "value2"
          text/plain:
            examples:
              Create Immutable Device:
                value: "{\r\n  \"name\": \"My first immutable device\",\r\n  \"type\": \"immutable\",\r\n  \"network\": \"5bbd0d144051a50034cd19fb\",\r\n  \"connector\": \"5f5a8f3351d4db99c40dece5\",\r\n  \"chunk_period\": \"quarter\", //define a chunk period by \"day\",\"week\", \"month\", \"quarter\"\r\n  \"chunk_retention\": 36, //acceptable range between 0-36\r\n  \"serie_number\": \"AB87392C17CA\" //only if required by network (optional)\r\n }"
              Create Mutable Device:
                value: "{\r\n  \"name\": \"My first device\",\r\n  \"type\": \"mutable\",\r\n  \"network\": \"5bbd0d144051a50034cd19fb\",\r\n  \"connector\": \"5f5a8f3351d4db99c40dece5\",\r\n  \"serie_number\": \"AB87392C12CA\" //only if required by network (optional)\r\n }"
      responses:
        '201':
          description: >-
            Mutable device created / Mutable device created with parse function
            / Immutable device created
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      deviceID:
                        type: string
                        example: 5dcad1c216174c001ca23ab9
                      token:
                        type: string
                        example: 5a16405f-b32c-4c91-ae39-cbb2caba18d8
                  status:
                    type: boolean
                    example: true
  /device/{deviceID}/data/backup:
    post:
      tags:
        - Import/Export
      summary: Export data to CSV in Files
      description: Export data to CSV in Files
      operationId: exportDataToCsvInFiles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file_address:
                  type: string
                  example: /device/$DEVICE$/$TIMESTAMP$
                headers:
                  type: boolean
                  example: true
            examples:
              Export data to CSV in Files:
                value:
                  file_address: /device/$DEVICE$/$TIMESTAMP$
                  headers: true
      responses:
        '200':
          description: Exporting data to Files
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      file_address:
                        type: string
                        example: device/66db45b6552d1d00097956de/1732039901282.csv
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
        description: Device ID
  /device/{deviceID}/chunk:
    get:
      tags:
        - Immutable Device
      summary: List Chunks
      description: List of chunks
      operationId: listOfChunks
      responses:
        '200':
          description: Getting a list of chunks by device
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: number
                          example: 1584
                        from:
                          type: string
                          example: '2022-07-18T00:00:00.000+00:00'
                        id:
                          type: string
                          example: '1658102400_1658707199'
                        to:
                          type: string
                          example: '2022-07-24T23:59:59.999+00:00'
                    example:
                      - amount: 1584
                        from: '2022-07-18T00:00:00.000+00:00'
                        id: '1658102400_1658707199'
                        to: '2022-07-24T23:59:59.999+00:00'
                      - amount: 13383
                        from: '2022-07-11T00:00:00.000+00:00'
                        id: '1657497600_1658102399'
                        to: '2022-07-17T23:59:59.999+00:00'
                      - amount: 12788
                        from: '2022-07-04T00:00:00.000+00:00'
                        id: '1656892800_1657497599'
                        to: '2022-07-10T23:59:59.999+00:00'
                      - amount: 12784
                        from: '2022-06-27T00:00:00.000+00:00'
                        id: '1656288000_1656892799'
                        to: '2022-07-03T23:59:59.999+00:00'
                      - amount: 4179
                        from: '2022-03-07T00:00:00.000+00:00'
                        id: '1646611200_1647215999'
                        to: '2022-03-13T23:59:59.999+00:00'
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
  /device/{deviceID}:
    get:
      tags:
        - Devices
      summary: Device Information
      description: Device information
      operationId: deviceInformation
      responses:
        '200':
          description: Getting a device information
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      active:
                        type: boolean
                        example: true
                      connector:
                        type: string
                        example: 60f19bda2889a60012d34167
                      created_at:
                        type: string
                        example: '2022-06-09T21:21:51.877Z'
                      data_retention:
                        type: string
                        example: forever
                      description:
                        type: string
                        example: >-
                          Simulates a Extrusion machine with temperature, speed
                          and pressure
                      id:
                        type: string
                        example: 62a2646ffdea2f0013b1bfe7
                      last_input:
                        type: string
                        example: '2022-06-23T11:19:54.369Z'
                      name:
                        type: string
                        example: Test Chunk Monthly
                      network:
                        type: string
                        example: 6073cdfec79ed00011228e47
                      payload_decoder:
                        example: null
                      profile:
                        type: string
                        example: 612ea05e3cc0780012715111
                      tags:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                              example: maxTemp
                            value:
                              type: string
                              example: '20'
                        example:
                          - key: maxTemp
                            value: '20'
                          - key: minTemp
                            value: '0'
                      type:
                        type: string
                        example: mutable
                      updated_at:
                        type: string
                        example: '2022-06-09T21:53:22.752Z'
                      visible:
                        type: boolean
                        example: true
                  status:
                    type: boolean
                    example: true
    put:
      tags:
        - Devices
      summary: Edit Device
      description: |
        Modify any property of the device.

        You're only required to send the parameters you want to edit.

        If changing network/connector, make sure you've deleted all tokens in the device first. Is also required to send both network and connector to edit any of both fields.
      operationId: editDevice
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  example: false
                connector:
                  type: string
                  example: 6148de43683cae0018940d0c
                name:
                  type: string
                  example: 'Device #2'
                network:
                  type: string
                  example: 5bbd120d4051a50034cd1a05
                payload_decoder:
                  type: string
                  description: Base64 formatted javascript code
                tags:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: my_tag_key
                      value:
                        type: string
                        example: my_tag_value
                  example:
                    - key: my_tag_key
                      value: my_tag_value
                visible:
                  type: boolean
                  example: false
            examples:
              Edit device:
                value:
                  active: false
                  connector: 6148de43683cae0018940d0c
                  name: 'Device #2'
                  network: 5bbd120d4051a50034cd1a05
                  payload_decoder: >-
                    LyogVGhpcyBpcyBhIGRlZmF1bHQgZXhhbXBsZSBmb3IgcGF5bG9hZCBwYXJzZXIuCioqIFRoZSBpZ25vcmVfdmFycyB2YXJpYWJsZSBpbiB0aGlzIGNvZGUgc2hvdWxkIGJlIHVzZWQgdG8gaWdub3JlIHZhcmlhYmxlcwoqKiBmcm9tIHRoZSBkZXZpY2UgdGhhdCB5b3UgZG9uJ3Qgd2FudC4KKioKKiogVGVzdGluZzoKKiogWW91IGNhbiBkbyBtYW51YWwgdGVzdHMgdG8gdGhpcyBwYXJzZSBieSB1c2luZyB0aGUgRGV2aWNlIEVtdWxhdG9yLiBDb3B5IGFuZCBQYXN0ZSB0aGUgZm9sbG93aW5nIGNvZGU6CioqIFt7ICJ2YXJpYWJsZSI6ICJwYXlsb2FkIiwgInZhbHVlIjogIjAxMDk2MTEzOTUiIH1dCioqCiovCi8vIEFkZCBpZ25vcmFibGUgdmFyaWFibGVzIGluIHRoaXMgYXJyYXkuCmNvbnN0IGlnbm9yZV92YXJzID0gWydyZl9jaGFpbicsICdjaGFubmVsJywgJ21vZHVsYXRpb24nLCAnYXBwX2lkJywgJ2Rldl9pZCcsICd0aW1lJywgJ2d0d190cnVzdGVkJywgJ3BvcnQnXTsKCi8vIFJlbW92ZSB1bndhbnRlZCB2YXJpYWJsZXMuCnBheWxvYWQgPSBwYXlsb2FkLmZpbHRlcih4ID0+ICFpZ25vcmVfdmFycy5pbmNsdWRlcyh4LnZhcmlhYmxlKSk7CgovLyBZb3UgY2FuIGVkaXQgYW55IHZhcmlhYmxlIHRoYXQncyBiZWluZyBhZGRlZCB0byB5b3VyIGRldmljZS4KLy8gRm9yIGV4YW1wbGUsIGlmIHlvdSBuZWVkIHRvIGNvbnZlcnQgYSB2YXJpYWJsZSBmcm9tIEZhaHJlaW50aCB0byBDZWxzaXVzLCB1bmNvbW1lbnQgdGhlIGZvbGxvd2luZyBjb2RlOgovLyBjb25zdCB0ZW1wZXJhdHVyZSA9IHBheWxvYWQuZmluZCh4ID0+IHgudmFyaWFibGUgPT09ICJ0ZW1wZXJhdHVyZSIpOwovLyBpZiAodGVtcGVyYXR1cmUpIHsKLy8gICB0ZW1wZXJhdHVyZS52YWx1ZSA9ICg1IC8gOSkgKiAodGVtcGVyYXR1cmUudmFsdWUgLSAzMik7Ci8vICAgdGVtcGVyYXR1cmUudW5pdCA9ICJDIjsKLy8gfQ==
                  tags:
                    - key: my_tag_key
                      value: my_tag_value
                  visible: false
                  chunk_retention: 20
              Immutable Chunk retention:
                value: "{\r\n    \"chunk_retention\": 20 // acceptable range by period: day(0-31), week(0-26), month(0-36), quarter(0-36)\r\n}"
      responses:
        '200':
          description: Updating device settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully Updated
                  status:
                    type: boolean
                    example: true
    delete:
      tags:
        - Devices
      summary: Delete Device
      description: |
        Deletes a device from the profile
      operationId: deleteDevice
      responses:
        '200':
          description: Deleting a device by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully Removed
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
  /device/{deviceID}/chunk/backup:
    post:
      tags:
        - Immutable Device
      summary: Export Chunk
      description: Export a chunk as CSV to your TagoIO Files
      operationId: exportAChunkAsCsvToFiles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chunk_id:
                  type: string
                  example: '1657497600_1658102399'
                file_address:
                  type: string
                  example: /device/$DEVICE$/$FROM$_$TO$
                headers:
                  type: boolean
                  example: true
            examples:
              Export a chunk as CSV to Files:
                value:
                  chunk_id: '1657497600_1658102399'
                  file_address: /device/$DEVICE$/$FROM$_$TO$
                  headers: true
      responses:
        '200':
          description: Chunk exported to Files
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      chunk_id:
                        type: string
                        example: '1657497600_1658102399'
                      file_address:
                        type: string
                        example: >-
                          device/62a2643dcc8dd60012eb4838/2022-07-11_2022-07-17.csv
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: false
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
    description: Device ID
  /device/{deviceID}/chunk/{chunkID}:
    delete:
      tags:
        - Immutable Device
      summary: Delete Chunk
      description: Delete chunk
      operationId: deleteChunk
      responses:
        '200':
          description: Chunk deleted from device
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Chunk 1657497600_1658102399 deleted
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
        description: Device ID
      - name: chunkID
        in: path
        required: true
        schema:
          type: string
          example: (Type a chunk ID)
        description: Chunk ID
  /device/{deviceID}/convert:
    post:
      tags:
        - Devices
      summary: Convert Device Type
      description: >-
        Convert the device immutable or mutable.


        The device must be empty before being converted. You can empty your
        device through your device's page. The Device-Token is preserved when
        converting using this route.

        The device must be disabled before being converted. You can disable the
        device by going to the device's page and turn off the active switch.
      operationId: convertDeviceType
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: ConvertDeviceTypeRequest
              properties:
                type:
                  type: string
                  example: immutable
                chunk_period:
                  type: string
                  example: quarter
                  description: Only required when converting to immutable. Defines the period for data chunking (e.g., quarter, month, year).
                chunk_retention:
                  type: number
                  example: 4
                  description: Only required when converting to immutable. Number of chunk periods to retain.
            examples:
              Convert to Immutable:
                value:
                  type: immutable
                  chunk_period: quarter
                  chunk_retention: 4
              Convert to Mutable:
                value:
                  type: mutable
      responses:
        '200':
          description: >-
            Converting a device type
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Device type/chunk was converted
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
  /device/{deviceID}/data_amount:
    get:
      tags:
        - Devices
      summary: Data Amount
      description: Get the total number of data items stored within the device.
      operationId: deviceDataAmount
      responses:
        '200':
          description: Getting a device data amount
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: number
                    example: 529
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
  /device/{deviceID}/data/restore:
    post:
      tags:
        - Import/Export
      summary: Import Data from a CSV in Files
      description: Import Data from a CSV in Files
      operationId: importDataFromACsvInFiles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file_address:
                  type: string
                  example: /July_data/31072024_data.csv
            examples:
              Import Data from a CSV in Files:
                value:
                  file_address: /July_data/31072024_data.csv
      responses:
        '200':
          description: Importing data from Files
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Data import added to the queue successfully!
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
    description: Device ID
  /device/{deviceID}/empty:
    post:
      tags:
        - Devices
      summary: Empty Device Storage
      description: Empty a Device's Data
      operationId: emptyADeviceSData
      responses:
        '200':
          description: Device's Data empty
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Data Successfully Removed
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
          
  /device/{deviceID}/data:
    get:
      tags:
        - Devices
      summary: Get Device Data
      description: Get Device Data for a specific Device within your profile
      operationId: getDeviceData
      parameters:
        - name: qty
          in: query
          schema:
            type: string
            example: '10'
          description: Numeric quantity of data to be returned
        - name: end_date
          in: query
          schema:
            type: string
            example: '2023-10-10T13:17:16.290Z'
          description: >-
            Final date to get the data returned in ISO timestamp format (Not
            Required)
      responses:
        '200':
          description: Get Device Data
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        created_at:
                          type: string
                          example: '2023-09-20T14:26:44.918Z'
                        device:
                          type: string
                          example: 6307b0b1b41f1b001a45c7e3
                        group:
                          type: string
                          example: 63956cf0000a19e44210b056
                        id:
                          type: string
                          example: 650b01244e91a0000fc65937
                        location:
                          type: object
                          properties:
                            coordinates:
                              type: array
                              items:
                                type: number
                                example: -77.757328
                              example:
                                - -77.757328
                                - 36.68072299999999
                            type:
                              type: string
                              example: Point
                        time:
                          type: string
                          example: '2023-09-20T14:26:44.918Z'
                        unit:
                          type: string
                          example: C
                        value:
                          type: string
                          example: '16'
                        variable:
                          type: string
                          example: temperature
                    example:
                      - created_at: '2023-09-20T14:26:44.918Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 63956cf0000a19e44210b056
                        id: 650b01244e91a0000fc65937
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:44.918Z'
                        unit: C
                        value: '16'
                        variable: temperature
                      - created_at: '2023-09-20T14:26:38.015Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: f863379000439d95e110b056
                        id: 650b011e59d9340009733690
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:38.015Z'
                        unit: C
                        value: '86'
                        variable: temperature
                      - created_at: '2023-09-20T14:26:25.477Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: aa756cf0000a19e41110b056
                        id: 650b01114e91a0000fc657ab
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:25.477Z'
                        unit: C
                        value: '16'
                        variable: temperature
                      - created_at: '2023-09-20T14:26:14.180Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: b0ee2101006e7e786010b056
                        id: 650b010687e7e6001012ee0c
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:14.180Z'
                        unit: C
                        value: '58'
                        variable: temperature
                      - created_at: '2023-09-20T14:26:03.199Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 5b33379000439d95bf00b056
                        id: 650b00fb59d93400097333b6
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:03.199Z'
                        unit: C
                        value: '11'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:53.034Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: e2456cf0000a19e41f00b056
                        id: 650b00f14e91a0000fc6542f
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:53.034Z'
                        unit: C
                        value: '3'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:43.099Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 6f40e7f0001ad1107e00b056
                        id: 650b00e7011da1000f7e04f7
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:43.099Z'
                        unit: C
                        value: '10'
                        variable: test
                      - created_at: '2023-09-20T14:25:33.027Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: b77fbff000c901bddd00b056
                        id: 650b00dddb109c000ffbf77c
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:33.027Z'
                        unit: C
                        value: '7'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:23.020Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: b7e298900029919a3d00b056
                        id: 650b00d3a919920009892e7c
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:23.020Z'
                        unit: C
                        value: '1'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:13.079Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 7320e7f0001ad1109c00b056
                        id: 650b00c9011da1000f7e0238
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:13.079Z'
                        unit: C
                        value: '12'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:03.133Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: c14fbff000c901bdfb00b056
                        id: 650b00bfdb109c000ffbf41d
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:03.133Z'
                        unit: C
                        value: '66'
                        variable: temperature
                      - created_at: '2023-09-20T14:24:53.135Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 64a2379000439d955b00b056
                        id: 650b00b559d9340009732a47
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:24:53.134Z'
                        unit: C
                        value: '19'
                        variable: temperature
                  status:
                    type: boolean
                    example: true
              examples:
                Get Device Data:
                  value:
                    result:
                      - created_at: '2023-09-20T14:26:44.918Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 63956cf0000a19e44210b056
                        id: 650b01244e91a0000fc65937
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:44.918Z'
                        unit: C
                        value: '16'
                        variable: temperature
                      - created_at: '2023-09-20T14:26:38.015Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: f863379000439d95e110b056
                        id: 650b011e59d9340009733690
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:38.015Z'
                        unit: C
                        value: '86'
                        variable: temperature
                      - created_at: '2023-09-20T14:26:25.477Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: aa756cf0000a19e41110b056
                        id: 650b01114e91a0000fc657ab
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:25.477Z'
                        unit: C
                        value: '16'
                        variable: temperature
                      - created_at: '2023-09-20T14:26:14.180Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: b0ee2101006e7e786010b056
                        id: 650b010687e7e6001012ee0c
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:14.180Z'
                        unit: C
                        value: '58'
                        variable: temperature
                      - created_at: '2023-09-20T14:26:03.199Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 5b33379000439d95bf00b056
                        id: 650b00fb59d93400097333b6
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:26:03.199Z'
                        unit: C
                        value: '11'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:53.034Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: e2456cf0000a19e41f00b056
                        id: 650b00f14e91a0000fc6542f
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:53.034Z'
                        unit: C
                        value: '3'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:43.099Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 6f40e7f0001ad1107e00b056
                        id: 650b00e7011da1000f7e04f7
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:43.099Z'
                        unit: C
                        value: '10'
                        variable: test
                      - created_at: '2023-09-20T14:25:33.027Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: b77fbff000c901bddd00b056
                        id: 650b00dddb109c000ffbf77c
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:33.027Z'
                        unit: C
                        value: '7'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:23.020Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: b7e298900029919a3d00b056
                        id: 650b00d3a919920009892e7c
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:23.020Z'
                        unit: C
                        value: '1'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:13.079Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 7320e7f0001ad1109c00b056
                        id: 650b00c9011da1000f7e0238
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:13.079Z'
                        unit: C
                        value: '12'
                        variable: temperature
                      - created_at: '2023-09-20T14:25:03.133Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: c14fbff000c901bdfb00b056
                        id: 650b00bfdb109c000ffbf41d
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:25:03.133Z'
                        unit: C
                        value: '66'
                        variable: temperature
                      - created_at: '2023-09-20T14:24:53.135Z'
                        device: 6307b0b1b41f1b001a45c7e3
                        group: 64a2379000439d955b00b056
                        id: 650b00b559d9340009732a47
                        location:
                          coordinates:
                            - -77.757328
                            - 36.68072299999999
                          type: Point
                        time: '2023-09-20T14:24:53.134Z'
                        unit: C
                        value: '19'
                        variable: temperature
                    status: true
    post:
      tags:
        - Devices
      summary: Send Device Data
      description: |
        Send data to a specific Device within your profile
      operationId: sendDataToDevice
      security:
        - Device-Token: []
      requestBody:
        $ref: '#/components/requestBodies/DeviceDataBody'
      responses:
        '200':
          description: Sending data
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 2 Data Added
                  status:
                    type: boolean
                    example: true
    put:
      tags:
        - Devices
      summary: Edit Device Data
      description: >-
        Edit specific data stored in the device.

        :::info  
        
        This request is only available when using Mutable Storage on Devices  
        
        :::
      operationId: editDeviceData
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: 653aa3ab617c10000990718f
                value:
                  type: number
                  example: 20
            examples:
              Edit Device Data:
                value:
                  id: 653aa3ab617c10000990718f
                  value: 20
      responses:
        '200':
          description: Editing a device data
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 1 item(s) updated
                  status:
                    type: boolean
                    example: true
              examples:
                Editing a device data:
                  value:
                    result: 1 item(s) updated
                    status: true
    delete:
      tags:
        - Devices
      summary: Delete Device Data
      description: >-
        Delete specific data stored in the device.

        :::info  
        
        This request is only available when using Mutable Storage on Devices  
        
        :::
      operationId: deleteDeviceData
      parameters:
        - $ref: '#/components/parameters/DeleteFilterQty'
        - $ref: '#/components/parameters/DeleteFilterOrdination'
        - $ref: '#/components/parameters/DeleteFilterSkip'
        - $ref: '#/components/parameters/DeleteFilterVariables'
        - $ref: '#/components/parameters/DeleteFilterValues'
        - $ref: '#/components/parameters/DeleteFilterIds'
        - $ref: '#/components/parameters/DeleteFilterGroups'
      responses:
        '200':
          description: Delete Device Data
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 1 Data Removed
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
          example: '67aa1f9135b1a7000a9db33c'
        description: Device ID

  /run/notification:
    post:
      tags:
        - Notifications
      summary: Create Notification
      description: |
        Create Notification for an user
      operationId: createNotification
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                buttons:
                  type: array
                  items:
                    type: object
                    properties:
                      analysis:
                        type: string
                        example: 5515de2676ab4e3211109e41c
                      color:
                        type: string
                        example: green
                      id:
                        type: string
                        example: btn_1249384
                      label:
                        type: string
                        example: Acknowledge
                  example:
                    - analysis: 5515de2676ab4e3211109e41c
                      color: green
                      id: btn_1249384
                      label: Acknowledge
                buttons_autodisable:
                  type: boolean
                  example: true
                buttons_enabled:
                  type: boolean
                  example: true
                message:
                  type: string
                  example: The temperature is lower than 18ºC.
                run_user:
                  type: string
                  example: 614edef8749df6a30280012a3caef
                title:
                  type: string
                  example: Low Temperature
            examples:
              Create Notification:
                value:
                  buttons:
                    - analysis: 5515de2676ab4e3211109e41c
                      color: green
                      id: btn_1249384
                      label: Acknowledge
                  buttons_autodisable: true
                  buttons_enabled: true
                  message: The temperature is lower than 18ºC.
                  run_user: 614edef8749df6a30280012a3caef
                  title: Low Temperature
          text/plain:
            examples:
              Create Notification:
                value: "{\r\n    \"run_user\": \"<Run User ID>\",\r\n    \"title\": \"notification title\",\r\n    \"message\": \"message to be read\",\r\n    \"buttons\": [ // optional\r\n        {\r\n            \"label\": \"label of the button\",\r\n            \"id\": \"id_of_the_button\", // no space allowed\r\n            \"color\": \"color of the button\", //hexadecimal allowed\r\n            \"url\": \"url to redirect the user\", //optional\r\n            \"analysis\": \"analysis to run when clicked\" //optional\r\n        }\r\n    ],\r\n    \"buttons_enabled\": true, // optional\r\n    \"buttons_autodisable\": true // optional\r\n}"
      responses:
        '200':
          description: Creating a RUN notification
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 3415de2676ff4e2001109e63b
                  status:
                    type: boolean
                    example: true
              examples:
                Creating a RUN notification:
                  value:
                    result:
                      id: 3415de2676ff4e2001109e63b
                    status: true
  /run/notification/{userID}:
    get:
      tags:
        - Notifications
      summary: List Notifications
      description: |
        List of notifications for an user
      operationId: listOfNotifications
      responses:
        '200':
          description: List of the Run user notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        buttons:
                          type: array
                          items: {}
                          example: []
                        buttons_autodisable:
                          type: boolean
                          example: true
                        buttons_enabled:
                          type: boolean
                          example: true
                        created_at:
                          type: string
                          example: '2022-06-20T17:35:26.753Z'
                        id:
                          type: string
                          example: 62b0afde27ce4d0012c62256
                        message:
                          type: string
                          example: Your device has retuned to the regular temperature
                        read:
                          type: boolean
                          example: false
                        title:
                          type: string
                          example: Temperature back to normal
                    example:
                      - buttons: []
                        buttons_autodisable: true
                        buttons_enabled: true
                        created_at: '2022-06-20T17:35:26.753Z'
                        id: 62b0afde27ce4d0012c62256
                        message: Your device has retuned to the regular temperature
                        read: false
                        title: Temperature back to normal
                      - buttons: []
                        buttons_autodisable: true
                        buttons_enabled: true
                        created_at: '2022-05-26T13:12:06.753Z'
                        id: 62b0afde27ce4d0012c62286
                        message: The temperature is lower than 18ºC.
                        read: true
                        title: Low Temperature
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: userID
        in: path
        required: true
        schema:
          type: string
          example: (Type a RUN user ID)
  /run/notification/{notificationID}:
    put:
      tags:
        - Notifications
      summary: Edit Notification
      description: |
        Edit notification on Run
      operationId: editNotification
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                buttons_enabled:
                  type: boolean
                  example: true
                message:
                  type: string
                  example: new notification message
                read:
                  type: boolean
                  example: true
                title:
                  type: string
                  example: new notification title
      responses:
        '200':
          description: Editing a RUN user notification
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: TagoIO Notification User Successfully Updated
                  status:
                    type: boolean
                    example: true
    delete:
      tags:
        - Notifications
      summary: Delete Notification
      description: |
        Delete notification on Run
      operationId: deleteNotification
      responses:
        '200':
          description: Deleting a RUN user notification
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully Removed
                  status:
                    type: boolean
                    example: true
    parameters:
      - name: notificationID
        in: path
        required: true
        schema:
          type: string
          example: (Type your RUN notification ID)
  /run/users/{userID}:
    get:
      tags:
        - Users
      summary: User Information
      description: |
        Get information about an user using userID
      operationId: userInformation
      responses:
        '200':
          description: Getting RUN user information by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                          example: true
                        company:
                          type: string
                          example: Companyname
                        created_at:
                          type: string
                          example: '2022-01-21T21:29:08.957Z'
                        email:
                          type: string
                          example: runuser@email
                        id:
                          type: string
                          example: 614889df6a302639012a7caef
                        language:
                          type: string
                          example: en
                        last_login:
                          type: string
                          example: '2022-06-10T17:59:26.879Z'
                        name:
                          type: string
                          example: runusername
                        newsletter:
                          example: null
                        options:
                          type: object
                          properties:
                            date_format:
                              type: string
                              example: MM/DD/YYYY
                            time_format:
                              type: string
                              example: '12'
                        otp:
                          type: object
                          properties: {}
                        phone:
                          type: string
                          example: '+010001010011'
                        profile:
                          type: string
                          example: 612ea05e3cc07803480127151133
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                example: user_type
                              value:
                                type: string
                                example: enduser
                          example:
                            - key: user_type
                              value: enduser
                            - key: limit_login
                              value: '10'
                        timezone:
                          type: string
                          example: America/New_York
                        updated_at:
                          type: string
                          example: '2022-06-14T14:16:52.377Z'
                    example:
                      - active: true
                        company: Companyname
                        created_at: '2022-01-21T21:29:08.957Z'
                        email: runuser@email
                        id: 614889df6a302639012a7caef
                        language: en
                        last_login: '2022-06-10T17:59:26.879Z'
                        name: runusername
                        newsletter: null
                        options:
                          date_format: MM/DD/YYYY
                          time_format: '12'
                        otp: {}
                        phone: '+010001010011'
                        profile: 612ea05e3cc07803480127151133
                        tags:
                          - key: user_type
                            value: enduser
                          - key: limit_login
                            value: '10'
                        timezone: America/New_York
                        updated_at: '2022-06-14T14:16:52.377Z'
                  status:
                    type: boolean
                    example: true
    put:
      tags:
        - Users
      summary: Edit User
      description: |
        Edit information about an user using userID
      operationId: editUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  example: true
                company:
                  type: string
                  example: Companyname
                language:
                  type: string
                  example: en
                name:
                  type: string
                  example: runusername
                options:
                  type: object
                  properties:
                    date_format:
                      type: string
                      example: MM/DD/YYYY
                    time_format:
                      type: string
                      example: '12'
                phone:
                  type: string
                  example: '+010001010011'
                tags:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
[...]
